body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #272727;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* Контейнер */
@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1194px;
    }
}

/* Глобально по картинкам */
img {
    width: auto;
    max-width: 100%;
}

header {
    max-height: 90;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container .main-row {
    display: flex;
    align-items: center;
}

/* Левая часть header */
header .logo img {
    padding: auto;
}

header .container .main-row .left-header .logo-text {
    padding-left: 0;
}

header .logo-text p {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 0px;
}

/* Правая часть header */
header .socials {
    padding-right: 15px;
}

header .top-phone {
    display: flex;
}

header .phone span {
    text-transform: uppercase;
    display: block;

    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

header .phone a {
    text-transform: uppercase;
    display: flex;

    color: #272727;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    text-shadow: 0px 1px 1px #272727;
}

header .right-header button {
    border-radius: 50px;
    background: #60BD35;
    border-color: #60BD35;

    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    padding: 13px 20px;

}

header .right-header button:hover {
    background: #4B9926;
    border-color: #4B9926;
    color: #fff;
}


/* МЕЙН КАРТИНКА */

.main-block {
    background: url("./../images/main_img.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    max-height: 800px;

    padding-bottom: 40px;
}

.main-block .container {
    padding-top: 80px;
}

.main-block .main-header {
    padding-right: 100px;

}

.main-block .main-header h1 {
    color: #405060;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;

    max-width: 700px;
    letter-spacing: 0px;
    margin-right: -80px;
}


/* Список */
.main-block .list ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 50px;

    margin-left: 30px;

}

.main-block .list li::before {
    content: url("./../images/Tilda_Icons_27bu_18.svg");
    display: inline-block;

    position: absolute;
    left: -30px;
    top: 0;
}

.main-block .list li {
    margin-bottom: 30px;
    position: relative;
    text-align: left;

    padding-left: 16px;
}

/* Блок с кнопокой */
.main-block .btn_block {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 28px 0px rgba(154, 161, 176, 0.20);

    max-width: 270px;
    max-height: 238px;
    flex-shrink: 0;

    margin: 35px 0px 40px 0px;
    padding: 27px 18px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.main-block .btn_block span {
    color: #FFB800;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-block .btn_block ul {
    list-style-type: none;
    padding: 20px 0px;
    margin: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


.main-block .btn_block button {
    flex-shrink: 0;
    color: #FFF;
    border-radius: 50px;
    background: linear-gradient(180deg, #FFB800 0%, #FF8A00 100%), linear-gradient(180deg, #FFB800 0%, #FF8A00 100%);

    margin-top: 0px;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    padding: 12px 30px;
    box-shadow: 0px 4px 1px #D26500;

    transition: 0.3s;
}

.main-block .btn_block button:hover {
    background: linear-gradient(180deg, #F90 0%, #FF4D00 100%);
}

.main-block .kp_button {
    position: relative;
}

.main-block .kp_button::after {
    content: url("./../images/arrow_down.svg");
    display: inline-block;

    width: 40px;
    height: 40px;

    position: absolute;
    top: -40px;
    right: 14px;
    transform: rotate(15deg)
}

.main-block .kp_button:hover::after {
    transform: rotate(30deg)
}

/* Списко приемуществ */

.main-block .advantage-block {
    text-align: right;
}

.main-block .advantage-block .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main-block .advantage-block .price {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 0px;
}

.main-block .advantage-block .price span {
    color: #FF8A00;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    padding-left: 3px;
}

.main-block .advantage-block .text-line {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    margin-top: 0px;
}

.main-block .advantage-block .slash::after {
    content: '';
    width: 20px;
    height: 30px;
    background: url("./../images/slash.svg") no-repeat;
    display: inline-block;
    margin-left: 10px;

    position: absolute;
    top: 18px;
    margin-left: 15px;
}

.main-block .advantage-block .slash {
    position: relative;
    padding-left: 0;

}

.main-block .advantage-block .fourth-item {
    padding-left: 0px;
}

/* БЛОК 3 - ГАРАНТИЯ КАЧЕСТВА */

.quality-garantee {
    background: #F0F3F6;

    padding-bottom: 65px;

}

.quality-garantee .text-title {
    color: #405060;
    padding: 50px 0px;
    text-align: center;
}

.quality-garantee .text-title h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    letter-spacing: -1px;
    padding-bottom: 17px;
}

.quality-garantee .text-title h2 span {
    color: #29A8DF;
}

.quality-garantee .text-title p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* 4 блока гарантий */
.quality-garantee .flex-item {
    padding: 25px 25px 5px 0px;
    border-radius: 10px;
    background: #405060;
    height: fit-content;
    color: #FFF;

    position: relative;
}

.quality-garantee .flex-item {
    position: relative;
    padding-left: 70px;
}

.quality-garantee .flex-item .title {
    color: #FFB800;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    letter-spacing: -1px;
    position: relative;
    margin-bottom: 15px;
}

.quality-garantee .flex-item .title::before {
    content: url("./../images/mark_2.svg");
    display: inline-block;

    position: absolute;
    left: -50px;
    top: 0;

}

.quality-garantee .flex-item p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* Визуальное наполнение каплями */
.quality-garantee .aqua-img-left{
    position: relative;
}

.quality-garantee .aqua-img-left::before {
    content: url("./../images/aqua_img.png");
    display: inline-block;

    position: absolute;
    left: -90px;
    top: -50px;
}

.quality-garantee .aqua-img-right {
    position: relative;
}

.quality-garantee .col-md-3 {
    z-index: 0;
}

.quality-garantee .aqua-img-right::after {
    z-index: -1;
    content: url("./../images/aqua_img.png");
    display: inline-block;

    position: absolute;
    right: -75px;
    top: -85px;

    transform: rotate(130deg);
}

/* Капли */
.quality-garantee .flex-item {
    position: relative;
}

.quality-garantee .left-drop::before {
    content: url("./../images/left-drops.svg");

    position: absolute;
    left: -50px;
    bottom: -40px;
}

.quality-garantee .drop-under-mark::before {
    content: url("./../images/two_drops.svg");

    z-index: 1;
    position: absolute;
    left: 16px;
    top: 49px;
}

.quality-garantee .drop-downstairs::before {
    content: url("./../images/two_drops.svg");

    z-index: 1;
    position: absolute;
    left: 40px;
    bottom: -30px;
}