body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #272727;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* Контейнер */
@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1194px;
    }
}

/* Глобально по картинкам */
img {
    width: auto;
    max-width: 100%;
}

header {
    max-height: 90;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container .main-row {
    display: flex;
    align-items: center;
}

/* Левая часть header */
header .logo img {
    padding: auto;
}

header .container .main-row .left-header .logo-text {
    padding-left: 0;
}

header .logo-text p {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 0px;
}

/* Правая часть header */
header .socials {
    padding-right: 15px;
}

header .top-phone {
    display: flex;
}

header .phone span {
    text-transform: uppercase;
    display: block;

    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

header .phone a {
    text-transform: uppercase;
    display: flex;

    color: #272727;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .right-header button {
    border-radius: 50px;
    background: #60BD35;
    border-color: #60BD35;

    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    padding: 13px 20px;

}

header .right-header button:hover {
    background: #4B9926;
    border-color: #4B9926;
}


/* МЕЙН КАРТИНКА */

.main-block {
    background: url("./../images/main_img.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    max-height: 800px;
}

.main-block .container {
    padding-top: 80px;
}

.main-block .main-header h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    max-width: 658px;
    letter-spacing: 0px;
}


/* Список */
.main-block .list ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 50px;

    margin-left: 30px;

}

.main-block .list li::before {
    content: url("./../images/Tilda_Icons_27bu_18.svg");
    display: inline-block;

    position: absolute;
    left: -30px;
    top: 0;
}

.main-block .list li {
    margin-bottom: 30px;
    position: relative;
    text-align: left;
}

/* Блок с кнопокой */
.main-block .btn_block {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 28px 0px rgba(154, 161, 176, 0.20);

    max-width: 270px;
    max-height: 238px;
    flex-shrink: 0;

    margin: 35px 0px 40px 15px;
    padding: 27px 18px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.main-block .btn_block span {
    color: #FFB800;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-block .btn_block ul {
    list-style-type: none;
    padding: 20px 0px;
    margin: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.main-block .btn_block ul::after {
    content: '';
    max-width: 20px;
    max-height: 30px;
    background: url("./../images/arrow_down.svg") no-repeat;
    display: inline-block;
    margin-left: 10px;
}

.main-block .btn_block button {
    flex-shrink: 0;
    color: #FFF;
    border-radius: 50px;
    background: linear-gradient(180deg, #FFB800 0%, #FF8A00 100%), linear-gradient(180deg, #FFB800 0%, #FF8A00 100%);

    margin-top: 0px;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    padding: 12px 30px;
}


/* Списко приемуществ */

.main-block .advantage-block {
    text-align: right;
}

.main-block .advantage-block h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main-block .advantage-block .price {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 0px;
}

.main-block .advantage-block .price span {
    color: #FF8A00;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    padding-left: 3px;
}

.main-block .advantage-block .text-line {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    margin-top: 0px;
}

.main-block .advantage-block .slash::after {
    content: '';
    max-width: 20px;
    max-height: 30px;
    background: url("./../images/slash.svg") no-repeat;
    display: inline-block;
    margin-left: 10px;

    position: absolute;
    top: 18px;
    margin-left: 15px;
}

.main-block .advantage-block .slash {
    position: relative;
    padding-left: 0;

}

.main-block .advantage-block .fourth-item {
    padding-left: 0px;
}

