body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #272727;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* Контейнер */
@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1194px;
    }
}

/* Глобально по картинкам */
img {
    width: auto;
    max-width: 100%;
}

/* Типичные заголовки */
h2 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    letter-spacing: -1px;
    padding-bottom: 17px;

    padding: 0px 130px;
}

h2 span {
    color: #29A8DF;
}

/* Текст под h2 */
.text-under-h2 {
    text-align: center;
    color: #405060;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    padding: 0px 130px;
}

/* Задаем Cтандарт для oragne button */
.orange_button {
    flex-shrink: 0;
    color: #FFF;
    border-radius: 50px;
    background: linear-gradient(180deg, #FFB800 0%, #FF8A00 100%), linear-gradient(180deg, #FFB800 0%, #FF8A00 100%);

    margin-top: 0px;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    padding: 12px 30px;
    box-shadow: 0px 4px 1px #D26500;

    transition: 0.3s;
}

.orange_button:hover {
    background: linear-gradient(180deg, #F90 0%, #FF4D00 100%);
    color: #FFF;
}

header {
    max-height: 90;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container .main-row {
    display: flex;
    align-items: center;
}

/* Левая часть header */
header .logo img {
    padding: auto;
}

header .container .main-row .left-header .logo-text {
    padding-left: 0;
}

header .logo-text p {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 0px;
}

/* Правая часть header */
header .socials {
    padding-right: 15px;
}

header .top-phone {
    display: flex;
}

header .phone span {
    text-transform: uppercase;
    display: block;

    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}

header .phone a {
    text-transform: uppercase;
    display: flex;

    color: #272727;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    text-shadow: 0px 1px 1px #272727;
}

header .right-header button {
    border-radius: 50px;
    background: #60BD35;
    border-color: #60BD35;

    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    padding: 13px 20px;

}

header .right-header button:hover {
    background: #4B9926;
    border-color: #4B9926;
    color: #fff;
}


/* МЕЙН КАРТИНКА */

.main-block {
    background: url("./../images/main_img.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    max-height: 800px;

    padding-bottom: 40px;
}

.main-block .container {
    padding-top: 80px;
}

.main-block .main-header {
    padding-right: 100px;

}

.main-block .main-header h1 {
    color: #405060;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;

    max-width: 700px;
    letter-spacing: 0px;
    margin-right: -80px;
}


/* Список */
.main-block .list ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 50px;

    margin-left: 30px;

}

.main-block .list li::before {
    content: url("./../images/Tilda_Icons_27bu_18.svg");
    display: inline-block;

    position: absolute;
    left: -30px;
    top: 0;
}

.main-block .list li {
    margin-bottom: 30px;
    position: relative;
    text-align: left;

    padding-left: 16px;
}

/* Блок с кнопокой */
.main-block .btn_block {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 28px 0px rgba(154, 161, 176, 0.20);

    max-width: 270px;
    max-height: 238px;
    flex-shrink: 0;

    margin: 35px 0px 40px 0px;
    padding: 27px 18px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.main-block .btn_block span {
    color: #FFB800;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-block .btn_block ul {
    list-style-type: none;
    padding: 20px 0px;
    margin: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


.main-block .btn_block button {
    flex-shrink: 0;
    color: #FFF;
    border-radius: 50px;
    background: linear-gradient(180deg, #FFB800 0%, #FF8A00 100%), linear-gradient(180deg, #FFB800 0%, #FF8A00 100%);

    margin-top: 0px;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    padding: 12px 30px;
    box-shadow: 0px 4px 1px #D26500;

    transition: 0.3s;
}

.main-block .btn_block button:hover {
    background: linear-gradient(180deg, #F90 0%, #FF4D00 100%);
}

.main-block .kp_button {
    position: relative;
}

.main-block .kp_button::after {
    content: url("./../images/arrow_down.svg");
    display: inline-block;

    width: 40px;
    height: 40px;

    position: absolute;
    top: -40px;
    right: 14px;
    transform: rotate(15deg)
}

.main-block .kp_button:hover::after {
    transform: rotate(30deg)
}

/* Списко приемуществ */

.main-block .advantage-block {
    text-align: right;
}

.main-block .advantage-block .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main-block .advantage-block .price {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 0px;
}

.main-block .advantage-block .price span {
    color: #FF8A00;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    padding-left: 3px;
}

.main-block .advantage-block .text-line {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    margin-top: 0px;
}

.main-block .advantage-block .slash::after {
    content: '';
    width: 20px;
    height: 30px;
    background: url("./../images/slash.svg") no-repeat;
    display: inline-block;
    margin-left: 10px;

    position: absolute;
    top: 18px;
    margin-left: 15px;
}

.main-block .advantage-block .slash {
    position: relative;
    padding-left: 0;

}

.main-block .advantage-block .fourth-item {
    padding-left: 0px;
}

/* БЛОК 3 - ГАРАНТИЯ КАЧЕСТВА */

.quality-garantee {
    background: #F0F3F6;

    padding-bottom: 65px;

}

.quality-garantee .text-title {
    color: #405060;
    padding: 50px 0px;
    text-align: center;
}

.quality-garantee .text-title p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* 4 блока гарантий */
.quality-garantee .flex-item {
    padding: 25px 25px 5px 0px;
    border-radius: 10px;
    background: #405060;
    height: fit-content;
    color: #FFF;

    position: relative;
    height: 100%;
}

.quality-garantee .flex-item {
    position: relative;
    padding-left: 70px;
}

.quality-garantee .flex-item .title {
    color: #FFB800;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    letter-spacing: -1px;
    position: relative;
    margin-bottom: 15px;
}

.quality-garantee .flex-item .title::before {
    content: url("./../images/mark_2.svg");
    display: inline-block;

    position: absolute;
    left: -50px;
    top: 0;

}

.quality-garantee .flex-item p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* Визуальное наполнение каплями */
.quality-garantee .aqua-img-left {
    position: relative;
}

.quality-garantee .aqua-img-left::before {
    content: url("./../images/aqua_img.png");
    display: inline-block;

    position: absolute;
    left: -90px;
    top: -50px;
}

.quality-garantee .aqua-img-right {
    position: relative;
}

.quality-garantee .col-md-3 {
    z-index: 0;
}

.quality-garantee .aqua-img-right::after {
    z-index: -1;
    content: url("./../images/aqua_img.png");
    display: inline-block;

    position: absolute;
    right: -75px;
    top: -85px;

    transform: rotate(130deg);
}

/* Капли */
.quality-garantee .flex-item {
    position: relative;
}

.quality-garantee .left-drop::before {
    content: url("./../images/left-drops.svg");

    position: absolute;
    left: -50px;
    bottom: -40px;
}

.quality-garantee .drop-under-mark::before {
    content: url("./../images/two_drops.svg");

    z-index: 1;
    position: absolute;
    left: 16px;
    top: 49px;
}

.quality-garantee .drop-downstairs::before {
    content: url("./../images/two_drops.svg");

    z-index: 1;
    position: absolute;
    left: 40px;
    bottom: -30px;
}

/* Блок 4 - Блок с видео */

.video-block {
    padding: 50px 0px;
}

.video-block h2 {
    margin-bottom: 55px;
}

.video-block p {
    color: #405060;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    margin-bottom: 30px;
}

.video-block .orange_button {
    margin-top: 15px;
}

/* Блок 5 - Блок Готовые решения */
.ready-solution {
    background: #F0F3F6;
    padding: 35px 0px;
}

.ready-solution .card-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 28px 0px rgba(154, 161, 176, 0.20);
    padding: 25px 30px;

    height: 100%;
    position: relative;

    padding-bottom: 120px;
}

.ready-solution img {
    border-radius: 10px;
}

.ready-solution .text-under-h2 {
    margin-bottom: 30px;
}

.ready-solution .text-under-img {
    padding: 15px 0px;
    color: #405060;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

span {
    color: #29A8DF;
}

.ready-solution .list-block {
    color: #66819C;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.ready-solution ul {
    list-style: none;
    padding-left: 0;
}

.ready-solution ul li::before {
    content: "—";
    padding-right: 5px;
}

.ready-solution .price-button b {
    color: #405060;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.344%;
}

.ready-solution .button {
    margin: 15px auto;
    align-items: center;
}

.ready-solution .orange_button {
    margin: 0 auto;
    display: block;

    max-width: 300px;

    padding-left: 70px;
    padding-right: 70px;

    margin-left: 15px;
}

.ready-solution .price-button {
    position: absolute;
    bottom: 30px;
}

.ready-solution .three ul {
    margin-bottom: 30px;
}

.ready-solution .flex-box {
    display: flex;
}

.ready-solution .flex-box .decor {
    padding: 45px 0px;
    padding-left: 0;
    height: fit-content;
    width: fit-content;

    margin-top: 45px;

    max-width: 240px;
    margin-left: 70px;
}

.ready-solution .flex-box .item_1 {
    max-width: 228px;
    color: #405060;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.344%;

    padding-top: 60px;
    margin-left: 0;
}

.ready-solution .flex-box p {
    color: #405060;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;

    position: relative;

    align-items: center;
}

.ready-solution .flex-box .aqua-mark-block {
    position: relative;
}

.ready-solution .flex-box .aqua-mark-block p {
    border-radius: 50px;
    border: 5px solid #BFE9FD;
    background: #FAFBFC;

    padding: 15px 15px 15px 50px;
}


.ready-solution .flex-box p::before {
    content: url("./../images/Tilda_Icons_27bu_18.svg");
    width: 40px;
    height: 35px;
    display: inline-block;

    position: absolute;
    left: 17px;
    top: 23px;
}

.ready-solution .flex-box .aqua-mark-block::before {
    content: url("./../images/aqua_img.png");
    width: 158.271px;
    height: 142.887px;
    display: inline-block;

    position: absolute;
    left: -87px;
    top: -13px;
}

/* Блок таблица с ценами */
.sheet-price {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sheet-price h2 {
    padding: 0;
    color: #405060;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sheet-price .text-under-h2 {
    padding: 15px 0;
}

.sheet-price .column {
    border-radius: 3px;
    background: #405060;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sheet-price .column th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sheet-price .table-wrapper {
    border-radius: 3px;
}

.sheet-price table {
    border: 1px solid #D3DFEA;
}

.sheet-price td {
    color: #4F5F6F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
    vertical-align: text-top;
}

.sheet-price tbody tr:hover {
    border: 1px solid #D3DFEA;
    background: #F0F3F6;
}

.sheet-price .left-align {
    text-align: left;
}

/* Голубая кнопка */
.blue-button {
    border-radius: 50px;
    background: #29A8DF;

    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;

    padding: 10px 45px;
}

.blue-button:hover {
    color: #FFF;
    background: #405060;
}

.sheet-price .button-width {
    width: 25%;
}

.sheet-price .wrapper-btn {
    text-align: center;

    margin-top: 35px;
}

.sheet-price .orange_button {
    padding-left: 45px;
    padding-right: 45px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}


/* Блок с услугами */

.sheet-price .service-items {
    text-align: center;
}

.h3 {
    color: #405060;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service-items h3 {
    padding: 40px 0;
}

.service-items .row {
    align-items: center;

    padding: 0;
}

.service-items .decor {

    border-radius: 10px;
    background: #405060;

    padding: 30px 5px;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: left;

    padding-left: 130px;
    position: relative;
    margin-right: 10px;

    max-width: 24%;

}

.service-items .four {
    margin-right: 0px;
}

.service-items .one {
    margin-left: 15px;
}

.service-items .decor img {
    position: absolute;
    width: 123px;
    left: 7px;
    top: -18px;
}


.service-items .two img {
    width: 116px;
}

.service-items .three img {
    width: 114px;
    top: -24px;
}

.service-items .four img {
    width: 105px;

    top: -24px;
}

.service-items .aqua-service-left::before {
    content: url('./../images/aqua_img.png');
    display: inline-block;
    position: absolute;

    transform: scale(-1, 1) rotate(140deg);
    z-index: -1;

    left: -100px;
    top: -95px;
}

.service-items p {
    position: relative;
}

.service-items .img-drops:before {
    position: absolute;
    content: url('./../images/two_drops.svg');
    z-index: 3;

    left: -120px;
    top: 27px;
}

.service-items .aqua-service-right::before {
    content: url('./../images/aqua_img.png');
    display: inline-block;
    position: absolute;

    transform: scale(-1, 1) rotate(304deg);
    z-index: -1;

    left: 160px;
    top: 7px;
}

.plot-block {
    margin-top: 133px;
    margin-bottom: 15px;
}

.plot-block .left-part h2 {
    text-align: left;
    align-items: left;
}

.plot-block .left-part .text-under-h2 {
    text-align: left;
    align-items: left;
}

.plot-block .left-part h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plot-block .left-part p {
    margin-left: 0;
    padding-left: 0;
}

.plot-block .equip-type {
    padding: 35px 20px;
    border-radius: 10px;
    background: #F0F3F6;

    height: 100%;
}

.plot-block .equip-type img {
    padding: 32px 45px;
}

.plot-block .equip-type p {
    color: #405060;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 152.344%;
}


.plot-block .equip-type .features p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 152.344%;

    text-align: left;
    border-radius: 5px 5px 0px 0px;
    background: #405060;

    max-width: fit-content;
    padding: 1px 22px;

    margin-bottom: 0;
}

.plot-block .equip-type .features {
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color: #405060;
    ;
}

.plot-block .features-list {
    display: flex;
    margin-top: 24px;

    color: #66819C;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    width: fit-content;
}

.plot-block .features-list p {
    line-height: 17px;
}

.plot-block .features-list .left {
    justify-content: left;
    text-align: left;
}

.plot-block .features-list .right {
    justify-content: right;
    text-align: right;
}

.plot-block .equip-type .uas {
    padding: 90px 45px;
}

/* Правая часть */
.plot-block .right-part {
    border-radius: 10px;
    background: linear-gradient(180deg, #29A8DF 3.49%, #008DD2 32.63%, #405060 75.44%);
    position: relative;
}

.plot-block .right-part img {
    position: absolute;

    width: 410px;
    top: -100px;

}

.plot-block .right-part .content {
    margin-top: 180px;
    padding: 42px 20px;
    text-align: center;
}

.right-part .content h2 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 75% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.right-part .content h2 span {
    color: #50C9F2;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.right-part .content p {

    padding: 20px;

    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;

    margin-bottom: 0;
}

.right-part .content ul {
    list-style: none;
    text-align: left;

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;

    padding: 20px 60px;
}

.right-part .content li::before {
    content: url("./../images/Tilda_Icons_27bu_18.svg");
    display: inline-block;

    position: absolute;
    left: -30px;
    top: 0;
}

.right-part .content li {
    margin-bottom: 15px;
    position: relative;
    text-align: left;

    padding-left: 16px;
}

.right-part .content input {
    border-radius: 50px;
    border: 1px solid #405060;
    background: #FFF;

    min-width: 270px;
    min-height: 48px;
}

.right-part .content input::placeholder {
    padding: 15px 18px;

    color: #405060;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.right-part .content button {
    margin-top: 15px;
}

.right-part .content .under__button {

    padding: 15px 60px;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

}

.right-part .content .under__button a {
    color: #FFF;
}